/* ============== COMMON STYLES ============== */

h1,
    h2,
    h3,
    h4,
    h5,
    h6,

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}


button {
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #FFF;;
        width: 1440px;
       
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


   


/* ============== /COMMON STYLES ============== */

/* =======  HEADER STYLESS ======= */
 
 .page-header {
     border-bottom: 1px solid #e7e9fc;
 }

.container {
     width: 1158px;
    margin: 0 auto;

 }

 .hero-section {
    padding: 188px 0;
 }

 .container-flex {
    display: flex;
    padding-left: 15px;
     padding-right: 15px;
    justify-content: space-between;
   
 }
 
.nav  {
    display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 500px;
        padding: 0 15px;
        gap: 40px;
        margin-right: 0;
       
}
  
.link {
    padding: 24px 0;
}

.address-menu .address-list {
    display: flex;
    gap: 40px;
    text-align: right;
       
}
.menu {
    padding: 24px 0;
}
   
.logo{
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
    
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    

}

.studio-color {
    color: #2E2F42;
}

.nav {
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;

       
}

.nav-link{

    display: flex;
gap: 40px;
}

.nav:hover{
    color: #404bbf;
}
.nav:focus{
  color: #404bbf;
} 
.nav-link .link:hover{
    color: #404bbf;
}
.nav-link .link:focus{
    color: #404bbf;
}
.link{
    color: #2e2f42;
}
.address {
    font-style: normal;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;

}


.address:hover {
    color: #404bbf;
}
.address:focus {
    color: #404bbf;
}


/* ======== HERO SECTION STYLES============== */
.hero-section {
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
}
.main-title {
    max-width: 496px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
        margin-right: auto;
}

.hero-section {
background-color: #2e2f42;
}
.main-title {
    font-family: "Roboto";
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.12px;
        color: var(--WHITE, #FFF);
        line-height: 1.07;
        text-align: center;    
}
.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        color: #ffffff;
        cursor: pointer;
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
/* ======== /HERO SECTION STYLES======== */


/* ===  STATEGY LIST STYLES ====  */
.strategy-section {
    padding: 120px 0;
}
.strategy-list {
    display: flex;
    gap: 24px;
}

.strategy-list-item {
    width: calc((100% - 72px) / 4);
   
}

.name-strategy {
margin-bottom: 8px;
  
}


.name-strategy {
color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em
}
.description-strategy {
color: var(--SLATE, #434455);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em
    }

    /* ==========  /STATEGY LIST STYLES====== */

/* === PEOPLE TEAM STYLES ===== */
    .team-people-section {
        background-color: #F4F4FD;
        padding: 120px 0;
    }

        .team-people-list {
            display: flex;
            gap: 24px;

        }
    .team-people-title {
        margin-bottom: 72px;
        color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: "Roboto";
            font-size: 36px;
         line-height: 1.11;
            font-weight: 700;
            letter-spacing: 0.72px;
            text-transform: capitalize;
    }
.team-people-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.conteiner-info-people {
    padding: 32px 0;
}
    .name-people {
        text-align: center;
        margin-bottom: 8px;
        color: var(--NAVY-BLUE, #2E2F42);
            text-align: center;
            font-family: "Roboto";
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.4px;
            background-color: #FFFFFF;
    }
    .position {
        color: var(--SLATE, #434455);
            text-align: center;
            font-family: "Roboto";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.32px;
    }
/* === / PEOPLE TEAM STYLES ===== */
    
/* ====PORTFOLIO STYLES ======= */
    .portfolio-section{
        background-color: #FFF;
        padding-top: 120px;
        padding-bottom: 120px;
    }
.portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: "Roboto";
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.portfolio-title-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-title-list-item {
    width: calc((100% - 48px) / 3);

    margin-right: 24px;
}
/* .portfolio-title-list-item:nth-child(2n+1) {
    margin-right: 0;
    
} */
.portfolio-title-list-item {
    margin-right: 0;

}
.portfolio-title-list-item:last-child {
    margin-right: 0;
}

.group-service {
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: "Roboto";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.2;
        margin-bottom: 8px;
}
.container-group-service {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}
.type-service {

    color: var(--SLATE, #434455);

        font-family: "Roboto";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* ===== FOOTER STYLES */
     .footer-section {
        background: #2e2f42;
        padding: 100px 0;
     }
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
         .studio-color-footer {
            color: #f4f4fd;
         }
    .description-footer {
        color: #F4F4FD;
            font-family: "Roboto";
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;
            max-width: 264px;

        }